# # Env files
# .env
# backend/.env

# # Node
# node_modules/

# # Python cache
# __pycache__/
# *.pyc

# # Editor
# .vscode/
# Python
__pycache__/
venv/
*.pyc

# Env files
.env
backend/.env

# Node
node_modules/

# OS
.DS_Store

# Thumbnails or temp
thumbnails/